@import url("http://fonts.cdnfonts.com/css/menlo");

@font-face {
  font-family: "InkLipquid";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/InkLipquid.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
